div {
    background-color: #E4F9F5;
}

body {
    margin: 0;
    text-align: center;
}

h1{
   width: 10%;
   margin: 0 auto 0 auto;
}

.middle-container {
    width: 200px;
    height: 200px;
   background-color: red;
}

.bottom-container {
    width: 200px;
    height: 200px;
    background-color: blue;
}